body{
    margin-left: 20px;
    margin-right: 20px;
}

.page-header {
    background-color: #6c6efa;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4, a {
    font-family: 'Lobster', cursive;
}


.date {
    color: #828282;
}

.save {
    float: left;
}

.book-form textarea, .book-form input {
    width: 60%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.book {
    margin-bottom: 70px;
}

.book h1 a, .book h1 a:visited {
    color: #6c6efa;
}
div.forms{
    width: 100%;
    margin:30px;
}
@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster Regular'), local('Lobster-Regular'), url(https://fonts.gstatic.com/s/lobster/v20/gFvN2Cxd1zUNqfb3FQe_Pw.ttf) format('truetype');
}
li{
    list-style:disc;
    font-size: large; 
}
font {
    font-size: large;
    font-family: Arial;
}
span.list {
    text-decoration: underline;
}