{% extends 'book/base.html' %}

{% block content %}
    <div class="book">
        <a class="btn btn-default" href="{% url 'book_edit' pk=book.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></h1>
        <p><font>Автор:</font> <span class="list">{{ book.author }}</span> <font>Год публикации:</font> <span class="list">{{ book.published_date.year }}</span></p>
        <p><font>Кратенько:</font> {{ book.descriptions|linebreaksbr }}</p>
        <p><font>Жанр:</font> <span class="list">{{ book.genre }}</span></p>
        </div>
    </div>
{% endblock %}