{% extends 'book/base.html' %}

{% block content %}
    <h1>Новая книга</h1>
    <form method="POST" class="post-form">
        <div class ="forms">
            <p>
                <label>Название:</label>
                <p>{{ form.title }}</p>
            </p>
            <p>
                <label>Автор:</label>
                <p>{{ form.author }}</p>
            </p>
            <p>
                <label>Дата публикации:</label>
                <p>{{ form.published_date }}</p>
            </p>
            <p>
                <label>Описание:</label>
                <p>{{ form.descriptions }}</p>
            </p>
            <p>
                <label>Жанр:</label>
                <p>{{ form.genre }}</p>
            </p>
        <button type="submit" class="save btn btn-default">Save</button>
        </div>
        {% csrf_token %}
    </form>
{% endblock %}