{% extends 'book/base.html' %}

{% block content %}
{% if names %}
    {% for book in names %}
    <div>
    <h1><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }}</a></h1>
    <p><font>Автор:</font> <span class="list">{{ book.author }}</span> <font>Год публикации:</font> <span class="list">{{ book.published_date.year }}</span></p>
    <p><font>Кратенько:</font> {{ book.descriptions|linebreaksbr }}</p>
    <p><font>Жанр:</font> <span class="list">{{ book.genre }}</span></p>
    </div>
    {% endfor %}
{% else %}
<p>Книги отсутвуют</p>
{% endif %}
{% endblock %}