{% extends 'book/base.html' %}

{% block content %}
<h2>Вы на главной странице</h2>
<h3>Выберете автора:</h3>
<ul>
<li><a href="./Достоевский">Достоевский</a></li>
<li><a href="./Гоголь">Гоголь</a></li>
<li><a href="./Лавкрафт">Лавкрафт</a></li>
<li><a href="./Чехов">Чехов</a></li>
<li><a href="./Кафка">Кафка</a></li>
<li><a href="./Гюго">Гюго</a></li>
<li><a href="./Хемингуэй">Хемингуэй</a></li>
<li><a href="./Лермонтов">Лермонтов</a></li>
<li><a href="./Ремарк">Ремарк</a></li>
<li><a href="./Гессе">Гессе</a></li>
<li><a href="./Горький">Горький</a></li>
<li><a href="./Твен">Твен</a></li>
<li><a href="./Азимов">Азимов</a></li>
<li><a href="./Пратчетт">Пратчетт</a></li>
<li><a href="./Брэдбери">Брэдбери</a></li>
<li><a href="./Буковски">Буковски</a></li>
<li><a href="./Грин">Грин</a></li>
<li><a href="./Солженицын">Солженицын</a></li>
<li><a href="./Бунин">Бунин</a></li>
</ul>

{% endblock %}